@model IEnumerable<Course>


@foreach(var course in Model)
{
    <h2>Course: @course.Name</h2>
    foreach(var mod in course.Modules)
    {
        <h4>Module: @mod.Name</h4>
        foreach(var clip in mod.Clips)
        {
            <h6>Clip: @clip.Name Length: @clip.Length</h6>
            
        }

    }

}

<form asp-action="Insert" method="post">
    <input type="submit" name="Submit" value="Seed Data"/>
</form>